build/*
debian/build/*
debian/com.github.kjlaw89.site-monitor.debhelper.log
debian/com.github.kjlaw89.site-monitor.substvars
debian/com.github.kjlaw89.site-monitor/
debian/debhelper-build-stamp
debian/files