build/*
debian/build/*
debian/com.github.kjlaw89.webwatcher.debhelper.log
debian/com.github.kjlaw89.webwatcher.substvars
debian/com.github.kjlaw89.webwatcher/
debian/debhelper-build-stamp
debian/files
