[Desktop Entry]
Name=Web Watcher
Comment=Know when your websites are misbehaving!
Icon=com.github.kjlaw89.webwatcher
Exec=com.github.kjlaw89.webwatcher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;IDE;Utility;WebDevelopment;Monitor;Security;Profiling;
Keywords=app;web;vala;monitor;watch;performance;historical;uptime;
