[Desktop Entry]
Name=Web Watcher
Comment=Monitor your websites for uptime
Icon=com.github.kjlaw89.web-watcher
Exec=com.github.kjlaw89.web-watcher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;IDE;Utility;WebDevelopment;Monitor;Security;Profiling
Keywords=app;web;vala;monitor;watch;performance;historical;uptime;
